<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>ServletUniversity</servlet-name>
        <servlet-class>org.example.servlet.ServletUniversity</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUniversity</servlet-name>
        <url-pattern>/university</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAddStudent</servlet-name>
        <servlet-class>org.example.servlet.ServletAddStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAddStudent</servlet-name>
        <url-pattern>/addStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletShowGroup</servlet-name>
        <servlet-class>org.example.servlet.ServletShowGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletShowGroup</servlet-name>
        <url-pattern>/showGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletAddGroup</servlet-name>
        <servlet-class>org.example.servlet.ServletAddGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAddGroup</servlet-name>
        <url-pattern>/addGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletStudentList</servlet-name>
        <servlet-class>org.example.servlet.ServletStudentsList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletStudentList</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletGroupHead</servlet-name>
        <servlet-class>org.example.servlet.ServletGroupHead</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletGroupHead</servlet-name>
        <url-pattern>/groupHead</url-pattern>
    </servlet-mapping>

</web-app>